In [1]:
def my_amazing_func():
    print('Hello World! From my function!')

In [2]:
my_amazing_func()

Hello World! From my function!

In [3]:
variable_name = my_amazing_func()

Hello World! From my function!

In [4]:
print(variable_name)

None

In [5]:
type(variable_name)

NoneType

In [6]:
def my_amazing_func( thing_to_print ):
    print( thing_to_print )

In [8]:
print ( thing_to_print )

NameError: name 'thing_to_print' is not defined

In [9]:
my_amazing_func("This is a test")

This is a test

In [12]:
my_amazing_func( thing_to_print )

NameError: name 'thing_to_print' is not defined

In [15]:
def my_amazing_func( thing_to_print = "Hi Hi") :
    print (thing_to_print)

In [17]:
my_amazing_func()

Hi Hi

In [34]:
def my_amazing_func( task = " Learning python functions") :
    print (task )

In [35]:
my_amazing_func()

 Learning python functions

In [38]:
import random

In [40]:
x =random.randint(0,10)
print (x)

4

In [41]:
x =random.randint(0,10)
print (x)

0

In [43]:
for i in range(20):
    random_number= random.randint(1,50)
    print (random_number)

16
48
3
5
20
24
37
14
18
37
29
37
40
25
50
27
22
37
11
25

In [44]:
a = "Outer string"
b = 42

In [45]:
def some_func():
    print(a, b)

In [46]:
some_func()

Outer string 42

In [47]:
def some_func2(a, b):
    print(a, b)

In [49]:
some_func2()

TypeError: some_func2() missing 2 required positional arguments: 'a' and 'b'

In [50]:
def some_func2(c, d):
    print (c, d)

In [51]:
some_func2()

TypeError: some_func2() missing 2 required positional arguments: 'c' and 'd'

In [53]:
some_func2(a, b)

Outer string 42

In [54]:
def some_func2(c, d):
    print (c, d)

In [56]:
some_func2()

TypeError: some_func2() missing 2 required positional arguments: 'c' and 'd'

In [57]:
some_func2(a, b)
print(c)

Outer string 42

NameError: name 'c' is not defined

In [63]:
def always_4():
    return 4

In [64]:
four = 4

In [65]:
print (four)

4

In [70]:
def addition(a, b):
    print(a+b)

In [71]:
addition(4, 5)

9

In [2]:
A = [ 5, 2, 9, -1, 3, 12]
A.index(-1)

3

In [31]:
A = [ 5, 2, 9, -1, 3, 12]

def find_negative_one_index():
    try:
        index_of_issue= A.index(-1)
        print("The index of -1 is",index_of_issue)
    except ValueError:  
            print("There is no -1 here")

In [32]:
find_negative_one_index()

The index of -1 is 3

In [38]:
def get_combined_namegrades(names,grades):
    student_dict={}
    for i in range(len(names)):
        student_dict[names[i]]=grades[i]
        return student_dict
    
student_records = {"Ada": 98.0,
                  "Bill": 45.0,
                  "Charlie": 63.2} 

student_names = ["Ray", "Romeo", "Jack", "Jim" ,"Tonia"]
student_grades = [12.0, 23.3, 82.3, 98.1, 68.3]

combined_grades = get_combined_namegrades(student_names, student_grades)

student_records.update(combined_grades)

print(student_records)

{'Ada': 98.0, 'Bill': 45.0, 'Charlie': 63.2, 'Ray': 12.0}

In [41]:
class Student(object):
    pass #

alex = Student()

In [42]:
print(type(alex))

<class '__main__.Student'>

In [48]:
class Student(object):
    def __init__(self):
        print("This get called when I make a new student")

In [49]:
alex=Student()

This get called when I make a new student

In [65]:
class Student(object):
    def __init__(self,name,grade):
        self.name = name
        self.grade = grade
        print("This get called when I make a new student")

In [66]:
alex=Student("alex",6)

This get called when I make a new student

In [71]:
some_student=[ Student("bob",90), Student("Alex",67), Student("Hera",91) ]
print(some_student)

This get called when I make a new student
This get called when I make a new student
This get called when I make a new student
[<__main__.Student object at 0x000001914B0D6850>, <__main__.Student object at 0x000001914B00F8D0>, <__main__.Student object at 0x000001914B00F050>]

In [69]:
print(some_student[1])

<__main__.Student object at 0x000001914B00E390>

In [72]:
class Student(object):
    def __init__(self,name,grade):
        self.name = name
        self.grade = grade
    def get_classification(self):
        if self.grade >= 90:
            return "A"
        if self.grade >= 80:
            return "B"
        if self.grade >= 70:
            return "C"
        if self.grade >= 60:
            return "D"
        else:
            return "F"

In [83]:
print( alex.get_classification())

B

In [ ]:
TRUE